@model BullCurrency.Models.Model1
<html>
<head>
    <link rel="stylesheet" href="style.css" />
    <script type="text/javascript">

        // This javascript method calls C# by setting the browser
        // to a URL with a custom scheme that is registered in C#.
        // All values are sent to C# as part of the querystring
        function InvokeCSharpWithFormValues(elm) {
            var qs = "";
            var elms = elm.form.elements;

            for (var i = 0; i < elms.length; i++) {
                qs += "&" + elms[i].name + "=" + elms[i].value;
            }

            if (elms.length > 0)
                qs = qs.substring(1);

            location.href = "hybrid:" + elm.name + "?" + qs;
        }

        // This javascript method is called from C#
        function SetLabelText(text) {
            var elm = document.getElementById('label');
            elm.innerHTML = text;
        }

        //invoke converting home currency to destination currency
        function InvokeConvertDestinationCurrency(text) {
            
        }

    </script>
</head>
<body>
    <div data-role="page" data-theme="b">
        <form>

            <div data-role="content">

                <h1 id="label">@Model.Text</h1>

                <input type="text" id="textbox" name="textbox" />

                <input type="button" name="UpdateLabel" value="Click" onclick="InvokeCSharpWithFormValues(this)"/>

               
                <div class="deal-menu">Holiday Countdown</div>

                <div class="buy-currency-content">
                    <label class="label-text">Enter your destination country/currency:</label>
                    <input type="text" id="txtDestinationCurrency" name="txtDestinationCurrenty"/>

                    <label class="label-text">How much would you like?</label>
                    <input type="text" id="txtAmount" name="txtAmount"/>
                    <label class="normal-label">GBP</label>
                    <label class="normal-label">=</label>
                    <input type="text" id="txtDestinationAmount" name="txtDestinationAmount"/>
                    <label class="normal-label"></label> @*ToDO// display destination currency*@
                    
                </div>

                <div class="rate-content">
                    
                    <label>1 GBP = </label> @*ToDO// display rate and desitnation currency*@
                </div>

            </div>

        </form>
    </div>
</body>
</html>	