<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="BullCurrency_AndroidApp.BullCurrency_AndroidApp" android:versionCode="1" android:versionName="1.0">
	<uses-sdk android:minSdkVersion="23" android:targetSdkVersion="23" />
	<application android:label="BullCurrency_AndroidApp"></application>
</manifest>